.home-container {
  background-image: url("https://assets.ccbp.in/frontend/react-js/home-lg-bg.png");
  background-size: cover;
  height: 100vh;
  color: white;
}
.heading {
  color: white;
  font-size: 55px;
  margin-top: 5%;
  margin-left: 5%;
  font-weight: 500;
}
.description {
  font-size: 19px;
  color: #cbd5e1;
  font-weight: 400;
  margin-left: 5%;
}
.button {
  margin-left: 5%;
  height: 5%;
  width: 6%;
  color: white;
  font-weight: bold;
  background-color: #6366f1;
  border-width: 0px;
  border-radius: 5px;
}
