.header-container {
  background-color: #202020;
  background-size: cover;
  height: 15vh;
  display: flex;
  align-items: center;
  font-family: "Bree Serif";
  justify-content: space-around;
}
.logo {
  width: 10%;
  margin-left: 0px;
}
.nav-items {
  display: flex;
}
.nav-heading {
  color: #ffffff;
  margin-right: 29px;
  font-size: 21px;
  font-weight: bold;
  list-style-type: none;
}
.download-button {
  background-color: #4f46e5;
  color: white;
  height: 45px;
  width: 8%;
  font-family: "Roboto";
  font-weight: bold;
  border-width: 0px;
  font-size: 15px;
  border-radius: 17px;
}
.link {
  text-decoration: none;
}
